// COLORS
$color-azure: #e7f6f2;
$color-black: #1a120b;
$color-blue: #282a3a;
$color-yellow--light: #c69749;
$color-yellow--dark: #735f32;

// DIMENSIONS
$border-radius: 10px;
$border-radius--sm: 5px;

$spacing--lg: 50px;
$spacing: 20px;
$spacing--sm: 10px;
$spacing--xs: 5px;
